body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.form-select{
    margin: 0 20px;
}

#cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact ul{
    list-style: none;
}

.derechos{
    text-align: center;
}
.contact ul li a:hover{
    background-color: rgb(209, 209, 209);
}

.card{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

#cartas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around center;
}

.titulo{
    padding-left: 100px;
}

.pais{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 0 15px;
}

.informacion{
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 20px;
    text-align: start;
    line-height: 0px;
}

.section_2{
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
}
.tamanio{
    width: 13px;
}

button{
    border: 0px solid transparent;
    border-color: transparent;
}