body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.form-select{
    margin: 0 20px;
}

#cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin: 20px 40px;
}